p {
  text-align: left;
}
/* h1{
    text-align: center;
    text-decoration: underline;
    text-decoration: red underline;
    text-decoration: gray wavy underline;
    text-decoration: gray dotted underline;
} */

a {
  text-decoration: none;
}

/* #h1{
    font-weight: normal;
    font-weight: 100;
}
#h2{
    font-weight: bold;
    font-weight: 250;
}
#h3{
    font-weight: lighter;
    font-weight: 400;
}
#h4{
    font-weight: 700;
} */

#one {
  font-family: Arial;
}
#two {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#para1{
    font-size: 25px;
    line-height:normal;
    /* text-transform: uppercase; */
    text-transform: capitalize;
}
#para2{
    font-size: 20px;
}
#para3{
    font-size: 10px;
}
